Click==7.0
fastapi==0.65.2
h11==0.9.0
httptools==0.1.*
pydantic==1.8.2
redis==3.3.11
rq==1.2.0
starlette==0.14.2
uvicorn==0.13.4
uvloop==0.15.3
websockets==9.1
rq-scheduler==0.11.0
requests==2.26.0
jinja2==3.0.1
aiofiles==0.7.0
pytest==6.2.4
graphene==2.1.9